/*****HEADER*****/
#rg-header{width:100%;height:$headerH;position:absolute;top:0;left:0;z-index:100;margin:0 auto;
	background:rgba(0,0,0,.5);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	body.endslate &{position: initial;}
	body.cover &{z-index: 100;height: 50px;background:none;}
	&.recirc{background:none;}
}
	#rg-logo{display:inline-block;width:170px;height:15px;@extend %rg-logo;background-size:auto;background-position:0 0;overflow:hidden;line-height:$minWH;text-indent:-9999px;margin-top:16px;margin-left: 10px;@include opacity(0.8);
		@include rgBP(desktop) {margin-left: $gPadding;}
		body.thumbs &{@include rgBP(mobile) {display: none;}}
		&:hover, &:focus {@include opacity(1);}
	}





